gui:
  sidePanelWidth: 0.2 # gives you more space to show things side-by-side
  switchTabsWithPanelJumpKeys: true
git:
  pagers:
    - colorArg: always
      pager: delta --paging=never --side-by-side --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
customCommands:
  - key: 'u'
    command: 'git submodule update -- {{.SelectedFile.Name}}'
    context: 'files'
    description: 'Update submodule'
