@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}
#waybar {
  background: rgba(30,30,46, 0.8);/*#1e222a*/
  color: @text;
  font-size: 13px;
  font-family: "Caskaydia Cove Nerd Font";
}

#workspaces {
  border-radius: 1rem;
  background-color: @base;
}

#workspaces button {
  padding: 3 5px 4 5px;
  color: #eeeeef;
}
/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
  color: #001b3a;
  padding: 3 5px 4 5px;
  background-color: #219ebc;
  border-radius: 5px;
}

#workspaces button:hover {
  background: transparent;
    color: @red;
}
#workspaces button.active:hover {
  text-shadow: none;
}

#screen,
#battery,
#custom-notification,
#workspaces,
#basicinfo,
#hardware,
#window,
#idle_inhibitor,
#pulseaudio {
/*shadow: 18526e background: 001b3a*/
  padding: 4px 8px;
  background-color: @base;
  /*background: 001b3a shadow: 18526e*/
  border-radius: 5px;
  box-shadow: 3px 3px @mauve;
  margin: 5px 5px;
}

#workspaces{
  box-shadow: 3px 3px @teal;

}
#clock {
  background-color: @base;
  /*background: 001b3a shadow: 18526e*/
  border-radius: 5px;
  border-width: 0px;
  box-shadow: 3px 3px @blue;
  /*box-shadow: 0px 3px #05dffc;*/
  padding: 4px 8px;
  margin: 5px 5px;
}

#window {
  color: @subtext0;/*929db1*/
}

#waybar.empty #window {
  background-color: transparent;
  box-shadow: none;
}

#custom-weather {
  padding-right: 1px;
}

#custom-notification {
  padding-right: 12px;
}

#tray {
  margin-left: 4px;
}

#scratchpad {
  color: #cffafe;
  padding-right: 4px;
  padding-left: 4px;
}

#disk {
  color: #d7ba89;
}

#cpu {
  color: #d7ba89;
  padding-right: 5px;
}

#temperature {
  color: #d7ba89;
  padding-right: 7px;
}

#temperature.critical {
  color: #f74d04;
}

#memory {
  color: #d7ba89;
  padding-right: 6px;
}

#custom-screenshot {
  padding-right: 1px;
}

#custom-updates {
  padding-right: 5px;
}

#custom-settings {
  padding-left: 11px;
  padding-right: 3px;
}

#network {
  color: #f4b393;
  /*min-width: 150px;*/
}

#clock.date {
  padding-left: 8px;
  padding-right: 5px;
}

tooltip {
  background-color: rgba(0,0,0,0.8);
  border-radius: 3px;
}

menu {
  box-shadow: none;
	border-radius: 5px;
	background: #161320;
	color: #B5E8E0;
}

menuitem {
	border-radius: 5px;
}
